.error {
    background-color: #FF4136;
}

body {
    font-family: sans-serif;
}

input, textarea {
    display: block;
}

textarea {
    width: 500px;
    height: 100px;
}

.editor {
    display: none;
}

.wikitext {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.keyHelp {
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.3;
}

.keyHelp li {
    list-item: none;
}

/* styles.css ends here */
